body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(16, 74, 92, 0.856);
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    object-fit: contain;
}

.contactform, .socmedia {
    text-align: center;
    font-size: .85em;
    color: white;
}

.button {
    border: none;
    border-radius: 20%;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 3px;
    background-color: #008CBA;
    color: white;
    font-size: 1em;
}

.button:hover {
    background-color: white;
    color: #008CBA;
}

a {
    color: white;
}

i:hover {
    color: #008CBA;
}

.socmedia {
    font-size: 2em;
    padding: 1em;
    letter-spacing: 0.5em;
}

footer {
    text-align: center;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.568);
}

@media (min-width: 700px) {

    .content {
        margin: 5%;
        text-align: center;
    }

    h2, .contactform {
        display: inline;
    }

    .socmedia {
        text-align: right;
    }

    footer {
        bottom: 0;
    }
}